.navbar{
    background-color: black !important;  
}


#bienvenida{
    color:white;
    margin: 7px;

}

.input-group{
    margin-top: -5px;
}

.nav-link-dropdown-toggle{
    color: white !important;
    margin-top: 7px;
    margin-left: 14px;
}


.dropdown-menu{
    margin-left: -350px;
    width: 400px;
}

#botonera{
    display: flex;
    flex-direction: row;
}




.divisor{
    background-image: url(../img/barra.svg);
    height: 300px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -90px;
    margin-top: -150px;
    // z-index: -5;
    
    
}



@media only screen and (max-width: 800px){

    #botonera{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}